* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  color: brown;
}


.main-container {
  background: yellow;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.game-cells{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "area-cell one area-cell two area-cell three"
    "area-cell four area-cell five area-cell six"
    "area-cell seven area-cell eight area-cell nine";
}
.area-cell one { grid-area: area-cell one; }
.area-cell two { grid-area: area-cell two; }
.area-cell three { grid-area: area-cell three; }
.area-cell four { grid-area: area-cell four; }
.area-cell five { grid-area: area-cell five; }
.area-cell six { grid-area: area-cell six; }
.area-cell seven { grid-area: area-cell seven; }
.area-cell eight { grid-area: area-cell eight; }
.area-cell nine { grid-area: area-cell nine; }

.area-cell {
height: 200px;
width: 200px;
background: lightblue;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  text-align: center;
}
